body {
	background: white;
}
p {
	font-size: 100px;
}

#Header {
	display: flex;
	justify-content: center;
	
}
h1 {
	background-color: rgb(102, 15, 15);
font-style: italic;
}

.makeup-products {
	justify-self: center;
	height: 15rem;
	width: auto;
	border: 2px solid #555;
}
.card {
	background-color: pink;
	text-align: center;
	border: grey solid 1px;
	padding: 5rem;
	width: 12rem;
	height: 22rem;
	display: inline-grid;
	margin: 7rem 2rem;
	box-shadow: 3px 4px #e04b52;
	position: relative;
}

button {
	position: relative;
	background-color: white;
	border: none;
	border-radius: 100px;
	height: 6rem;
	width: auto;
	color: red;
	font-size: 70px;
	justify-self: center;
}

button2:hover {
	background-color: whitesmoke;
	border: #e04b52 solid 20px;
	color: #e04b52;
}

h1 {
	color: #eee;
	margin-bottom: 30px;
}
button:hover {
	background-color: red;
}

/* // styling description */

.desc {
	position: absolute;
	display: none;
	width: 250px;
	height: auto;
	background-color: rgb(235, 31, 4);
	border-radius: 5px;
	padding: 10px;

	left: 70%;
	top: 50%;
	z-index: 1;
}



.hide {
	display: none;
}

#category{
	padding:5px;
	border-radius: 5px;
	background-color: antiquewhite;
	cursor: pointer;
	float: right;
	width: 200px;
}